NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-05-31
NEXT_PUBLIC_SITE_URL=https://shidaev.com
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/zulihan1993/30min
NEXT_PUBLIC_CONSULTATION_PRICE_USD=50
NEXT_PUBLIC_GOOGLE_REVIEWS_URL=https://www.google.com/search?q=Law+Offices+of+Jacob+Shidaev&kgmid=/g/11vhf_12pq
